# Ignore backup directory
_gsdata_/

# Ignore Komodo
*.komodoproject
/.komodotools/
/Komodo/

# Ignore wiki directory
/wiki/

# Ignore extras
/extras/CBT
/extras/docs
/extras/Emulator
/extras/Character-Set.tgn
/extras/Character-Set.pptx

# Ignore test files
/src/test.asm
